.Nav {
  padding: 1rem;

  .container {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  &__logo a {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;

    h2 {
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 800;
      margin: 0;
    }
  }

  &__icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  a {
    cursor: pointer;

    >* {
      cursor: pointer;
    }
  }

  &__icon {
    width: 24px;
    cursor: pointer;
  }

  .bell-icon {
    position: relative;
    --bell-not-size: 17px;

    span {
      top: -5px;
      left: -5px;

      position: absolute;
      font-size: 10px;
      font-weight: bold;
      width: var(--bell-not-size);
      height: var(--bell-not-size);
      border-radius: var(--bell-not-size);
      justify-content: center;
      align-items: center;
      display: flex;
      background: red;
    }
  }
}
